*.o
.gitignore
.vscode/*
server_app/.openode
server_app/node_modules/*
andrioid_app/.idea/misc.xml
server_app/.firebaserc
server_app/firebase.json
server_app/package-lock.json
server_app/public/
pi_app/chip_test
pi_app/BME280_driver